<p id="notice"><%= notice %></p>

<h1>Aliados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aliados.each do |aliado| %>
      <tr>
        <td><%= aliado.nombre %></td>
        <td><%= aliado.descripcion %></td>
        <td><%= link_to 'Show', aliado %></td>
        <td><%= link_to 'Edit', edit_aliado_path(aliado) %></td>
        <td><%= link_to 'Destroy', aliado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Aliado', new_aliado_path %>
